.add-list {
    gap: 1rem;

    &__title {
        font-size: 1.5rem;
    }

    .form {
        flex: 1;
        gap: 1rem;
        &__color-picker {
            margin: 0 auto 1rem auto;
        }
        &__submit {
            margin-top: auto;
        }
    }
}
