@use "../../utils/variables" as *;
@use "../../utils/mixins" as mix;

// Reset some styles inherit from popup.scss
.popup > .list {
    padding: 0;

    & ~ .popup-close {
        color: var(--clr-dark-100);
    }
}

// Main styles
.list {
    position: relative;
    z-index: -1;
    display: flex;
    flex-direction: column;
    background-color: var(--clr-dark-100);

    &__header {
        padding: 1rem 1.5rem;
        border-radius: 0;

        @include mix.mq(small) {
            border-top-left-radius: $br-global;
            border-top-right-radius: $br-global;
        }
    }

    &__title {
        font-size: 1.5rem;
        color: var(--clr-dark-100);
    }

    main {
        flex: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 0.7rem;
    }

    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        border-radius: 50%;
    }

    &__todos {
        flex: 1;
        overflow-y: auto;
    }

    &__form {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transform: translateY(-100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.3rem;
        width: calc(min(400px, 100%));
        height: 130px;
        padding: 2.5rem;

        border-radius: 0;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
            rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        opacity: 0;

        @include mix.mq(small) {
            border-bottom-left-radius: $br-global;
            border-bottom-right-radius: $br-global;
        }

        @include mix.mq(small) {
            width: 100%;
        }

        &.show-form {
            opacity: 1;
            transform: translateY(0);
        }

        &__btn-close {
            display: flex;
            position: absolute;
            top: 0.4rem;
            left: 0.4rem;
            font-size: 2rem;
        }

        label {
            position: relative;
            display: flex;
            height: 100%;
            & > span {
                position: absolute;
                bottom: 0.2em;
                left: 0;
                transition: all 0.15s ease-out;
            }
            span.visited {
                transform: translateY(-1.7rem);
                font-size: 0.85em;
                color: var(--clr-dark-300);
            }
        }
        input {
            position: absolute;
            bottom: 0;
            width: calc(min(270px, 100%));
            height: fit-content;
            border: none;
            border-bottom: 3px solid var(--clr-dark-300);
            background-color: transparent;

            &:focus-visible {
                outline: none;
                border-color: var(--clr-secondary-400);
                background-color: white;
            }
        }

        &__submit {
            position: absolute;
            right: 1rem;
            bottom: 0;
            transform: translateY(40%);

            display: flex;
        }
    }

    &__btn-toggle-form {
        position: absolute;
        inset: auto 1.2rem 1.2rem auto;
    }
}
