@use '../../utils/variables' as *;

.todo {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--clr-dark-200);

    &--complete {
        opacity: 0.6;
        & .todo__task {
            text-decoration: line-through;
        }
    }

    &--editing {
        background-color: white;
        box-shadow: $bs-header;
    }

    &__color-decoration {
        align-self: stretch;
        min-width: 10px;
    }
    &__btn-check {
        & svg {
            border-radius: 50%;
            color: var(--clr-dark-400);

            overflow: unset; // Correcciones, ya que había un problema y el icono aparece movido y cortado
            & path {
                transform: translateX(-0.5px);
            }
        }
        .outline-effect {
            display: flex;
            border-radius: 50%;
            outline: 0px solid var(--clr-dark-200);
            transition: unset;
        }
        &--complete .outline-effect {
            outline-width: 16px;
            outline-color: transparent;

            // Pulse effect
            transition: outline-width 0.2s ease-out,
                outline-color 0.15s ease-out 0.15s;
            -moz-transition: outline-width 0.2s ease-out,
                outline-color 0.15s ease-out 0.15s;
            & > svg {
                color: var(--clr-secondary-400);
            }
        }
    }
    &__form {
        flex-grow: 1;
        display: flex;
    }

    &__btn-check,
    &__btn-drag,
    &__btn-delete,
    &__submit {
        align-self: stretch;
        display: flex;
        align-items: center;
        padding-inline: 0.6em;

        &.show {
            visibility: visible;
            opacity: 1;
        }
    }

    &__btn-drag {
        font-size: 1.4em;
        color: var(--clr-dark-300);
    }

    &__btn-delete,
    &__submit {
        visibility: hidden;
        opacity: 0;
        transition: none;
    }

    &__submit {
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.25em;
        margin-block: auto;
        border: 1px solid var(--clr-secondary-300);
        box-shadow: none;

        & path {
            stroke-width: 0.6px;
        }
    }

    &__task {
        background: none;
        border: none;
        width: 100%;
        text-align: start;
        padding: 1.3rem 0.7rem;

        &:focus-visible {
            outline: none;
        }

        &.error {
            background-color: var(--clr-danger-100);
        }
    }
}
