.todo {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--clr-dark-200);

    // background-color: red;
    // border: 1px solid blue;

    &--complete {
        opacity: 0.6;
        & > .todo__task {
            text-decoration: line-through;
        }
    }

    &__color-decoration {
        align-self: stretch;
        width: 10px;
        // background-color: cyan;
    }
    &__btn-check {
        & svg {
            border-radius: 50%;
            color: var(--clr-dark-400);

            overflow: unset; // Correcciones, ya que había un problema y el icono aparece movido y cortado
            & path {
                transform: translateX(-0.5px);
            }
        }
        .outline-effect {
            display: flex;
            border-radius: 50%;
            outline: 0px solid var(--clr-dark-200);
            transition: unset;
        }
        &--complete .outline-effect {
            outline-width: 8px;
            outline-color: transparent;

            // Pulse effect
            transition: outline-width 0.2s ease-out,
                outline-color 0.15s ease-out 0.1s;
            -moz-transition: outline-width 0.2s ease-out,
                outline-color 0.15s ease-out 0.1s;
            & > svg {
                color: var(--clr-secondary-400);
            }
        }
    }
    &__btn-check,
    &__btn-drag {
        align-self: stretch;
        display: flex;
        align-items: center;
        padding-inline: 0.6em;
    }

    &__btn-drag {
        font-size: 1.4em;
        color: var(--clr-dark-300);
    }

    &__task {
        flex-grow: 1;
        text-align: start;
        line-height: 3;
    }
}
