/*----- Botones -----*/
.btn {
    padding: 0.7rem 1.5rem;

    font-weight: 600;

    background-color: transparent;
    border-radius: 100vh;
    border: 3px solid;

    cursor: pointer;

    &.btn--primary {
        color: var(--clr-primary-400);
    }
    &.btn--secondary {
        color: var(--clr-secondary-400);
    }
    &.btn--dark {
        color: var(--clr-dark-400);
    }
    &.btn--danger {
        color: var(--clr-danger-400);
    }
    &:active {
        transform: translateY(2px);
    }
    &:hover,
    &:focus-visible {
        &.btn--primary {
            color: var(--clr-primary-200);
        }
        &.btn--secondary {
            color: var(--clr-secondary-300);
        }
        &.btn--dark {
            color: var(--clr-dark-200);
        }
        &.btn--danger {
            color: var(--clr-danger-200);
        }
    }
}

.icon {
    font-size: 1.5rem;
    line-height: 1;
}

.btn-with-icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.4rem 0.8rem;
    border: 1px solid var(--clr-dark-300);
    border-radius: $br-small;

    svg {
        transition: color 1s linear;
    }

    &:hover {
        border-color: var(--clr-primary-300);
        color: var(--clr-primary-300);
        path {
            color: var(--clr-primary-300);
        }
    }
}

.home-link {
    position: relative;

    min-width: 190px;
    aspect-ratio: 1.7;

    font-family: "Poppins", sans-serif;
    font-size: var(--fs-500);
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.33);

    border-radius: $br-global;
    box-shadow: $bs-global;
    border: 3px solid;
    overflow: hidden;

    transition: all 0.3s ease-out;

    &:hover {
        z-index: 1;
        transform: scale(1.1);
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        border-color: var(--clr-dark-100);
        border-width: 5px;
    }

    &.home-link--primary {
        color: var(--clr-primary-500);
        background-color: var(--clr-primary-200);
    }
    &.home-link--secondary {
        color: var(--clr-secondary-500);
        background-color: var(--clr-secondary-200);
    }
    &.home-link--dark {
        color: var(--clr-dark-500);
        background-color: var(--clr-dark-200);
    }
    &.home-link--danger {
        color: var(--clr-danger-500);
        background-color: var(--clr-danger-200);
    }

    @include mq(small) {
        min-width: 250px;
    }
}

.btn-icon {
    width: 3rem;
    height: 3rem;
    padding: 0.45rem;
    font-size: 2rem;
    color: var(--clr-primary-400);
    border-radius: 50%;
    background-color: white;
    box-shadow: $bs-icon;
    &:active {
        background-color: var(--clr-dark-100);
    }

    &--plus {
        color: white;
        padding: 0.8rem;
        background-color: var(--clr-danger-300);
        &:active {
            background-color: var(--clr-danger-200);
        }
    }
}
