/*----- Cards -----*/
.home-card {
    position: relative;

    min-width: 190px;
    aspect-ratio: 1.7;

    font-family: "Poppins", sans-serif;
    font-size: var(--fs-500);
    font-weight: bold;
    text-transform: uppercase;

    border-radius: $--br-global;
    box-shadow: $--bs-global;
    border: 3px solid;
    overflow: hidden;

    transition: all 0.3s ease-out;

    &:hover {
        z-index: 1;
        transform: scale(1.1);
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        border-color: var(--clr-dark-100);
        border-width: 5px;
    }

    &.home-card--primary {
        color: var(--clr-primary-500);
        background-color: var(--clr-primary-200);
    }
    &.home-card--secondary {
        color: var(--clr-secondary-500);
        background-color: var(--clr-secondary-200);
    }
    &.home-card--dark {
        color: var(--clr-dark-500);
        background-color: var(--clr-dark-200);
    }
    &.home-card--danger {
        color: var(--clr-danger-500);
        background-color: var(--clr-danger-200);
    }

    @include mq(small) {
        min-width: 250px;
    }
}
