@use '../utils/mixins' as mix;

.home > .bg-cover,
.bg-cover {
    position: fixed;
    inset: 0;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.555);

    visibility: hidden;
    opacity: 0;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
    border-radius: 0;
    background-color: white;
    box-shadow: -1px 1px 3px 0 rgba(0, 0, 0, 0.2);

    opacity: 0;

    @include mix.mq(small) {
        height: 450px;
        width: 350px;
        border-radius: $br-global;
    }
    & > *:not(.popup-close) {
        flex: 1;
        width: 100%;
        max-height: 100%;
        padding: 1.5rem;
        border-radius: $br-global;
    }
}

.bg-cover-show {
    visibility: visible;
    opacity: 1;
    transition: all 0.2s ease-out;
}
.popup-show {
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: all 0.3s ease-out;
}

.popup-close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.7rem;
}
