@use '../utils/mixins' as mix;

.home > .bg-cover,
.bg-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    background-color: rgba(0, 0, 0, 0.555);

    visibility: hidden;
    opacity: 0;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 0;
    min-height: 0;

    border-radius: $br-global;
    background-color: white;
    box-shadow: -1px 1px 3px 0 rgba(0, 0, 0, 0.2);

    opacity: 0;

    overflow: hidden;

    & > *:not(.popup-close) {
        flex: 1;
        padding: 1.5rem;
    }
}

.bg-cover-show {
    visibility: visible;
    opacity: 1;
    transition: all 0.2s ease-out;
}
.popup-show {
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out, width 0s,
        min-height 0s;

    width: 95%;
    min-height: 95%;

    &--small {
        width: 80%;
        min-height: 30%;
    }
    &--medium {
        width: 85%;
        min-height: 60%;
    }
}

.popup-show,
.popup-show--small,
.popup-show--medium {
    @include mix.mq(small) {
        min-height: fit-content;
        width: fit-content;
    }
}

.popup-close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.7rem;
}
