/*---------- Counter Styles ----------*/
.counter {
    position: absolute;
    z-index: 10000;
    flex-direction: column;
    gap: 2rem;
    inset: 0;
    line-height: 1;
    color: var(--clr-secondary-100);

    .greetings {
        flex-direction: column;
        &__images {
            gap: 2rem;
            & > img {
                object-fit: contain;
                width: 35%;
            }
        }

        &__msg {
            text-align: center;
            margin: 2rem 1rem;
            font-size: clamp(1rem, 7vw, 3rem);
        }
    }

    .row {
        // gap: 1rem;
        justify-content: center;
        text-align: center;
        padding-inline: 2rem;
        flex-wrap: nowrap;
    }

    .time {
        font-family: clockicons, sans-serif;
        font-size: 14vw;
    }
}
