/*----- Archivo principal de estilos -----*/

/*---------- Imports por orden de preferencia ----------*/
@import "base/reset";
@import "base/fonts";
@import "base/colors";

@import "utils/variables";
@import "utils/functions";
@import "utils/mixins";
@import "utils/helpers";

/*---------- Colors & Font-size Root ----------*/
:root {
    @each $color, $shades in $colors {
        @each $shade, $value in $shades {
            --clr-#{$color}-#{$shade}: #{$value};
        }
    }

    @each $screen-size, $font-size in $font-sizes {
        @if $screen-size == small {
            @each $size, $value in $font-size {
                --fs-#{$size}: #{$value};
            }
        } @else {
            @include mq(small) {
                @each $size, $value in $font-size {
                    --fs-#{$size}: #{$value};
                }
            }
        }
    }
}

// Si quiero crear clases para cada color por ejemplo:

@each $color, $shades in $colors {
    @each $shade, $value in $shades {
        .text-#{$color}-#{$shade} {
            color: $value;
        }
        .bg-#{$color}-#{$shade} {
            background-color: $value;
        }
        .border-#{$color}-#{$shade} {
            border: 1px solid $value;
        }
    }
}

@import "layout/navbar";
@import "layout/footer";
@import "layout/grid";

@import "components/buttons";
@import "components/popup";
@import "components/cards";
@import "components/dropdown";
@import "components/forms";

@import "themes/theme";
@import "themes/admin";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Poppins&display=swap");

/*---------- Estilos globales ----------*/
body {
    font-family: "Open Sans", sans-serif;
}
/* prettier-ignore */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, .h5, h5, .h4, .h5 {
    font-family: "Poppins", sans-serif;
}
*,
*::after,
*::before {
    transition: all 0.3s ease-out;
}
