/*----- Estilos específicos para la página de inicio -----*/
@font-face {
    font-family: "clockicons";
    src: url("//db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.eot");
    src: url("//db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.eot?#iefix")
            format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.woff2")
            format("woff2"),
        url("//db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.woff")
            format("woff"),
        url("//db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.ttf")
            format("truetype"),
        url("//db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.svg#clockicons")
            format("svg");
}

.home {
    position: relative;
    flex: auto;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-repeat: space;
    background-size: 20%;

    & > * {
        position: relative;
        z-index: 1;
    }

    &__title {
        text-align: center;
        margin-bottom: 1.5rem;
        font-size: var(--fs-700);
        font-weight: bold;
        color: var(--clr-dark-500);
    }
    &__cards {
        // flex: auto;
        flex-wrap: wrap;
        align-items: stretch;
        gap: 1rem;
    }
}

.home::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    background-color: var(--clr-dark-300);
    opacity: 0.5;
}

/*---------- Counter Styles ----------*/
.counter {
    position: absolute;
    flex-direction: column;
    gap: 2rem;
    inset: 0;
    line-height: 1;
    color: var(--clr-secondary-100);

    .greetings {
        flex-direction: column;
        &__images {
            gap: 2rem;
            & > img {
                object-fit: contain;
                width: 35%;
            }
        }

        &__msg {
            text-align: center;
            margin-block: 2rem;
        }
    }

    .row {
        // gap: 1rem;
        justify-content: center;
        text-align: center;
        padding-inline: 2rem;
        flex-wrap: nowrap;
    }

    .time {
        font-family: clockicons, sans-serif;
        font-size: 14vw;
    }
}
