.nicknames {
    flex: 1;
    gap: 1.5rem;

    &__form {
        display: flex;
        gap: 0.7rem;
    }
    &__nickname {
        text-align: center;
        min-height: 93px;
        min-width: 200px;
        padding: 1.5rem 2rem;
        background-color: var(--clr-danger-300);
        font-size: 2.8rem;
        line-height: 1;
        color: var(--clr-dark-100);
        border-radius: 100vw;
    }
}
