.profile {
    flex: 1;

    &__message {
        margin-block: 2rem;
    }
    &__randomizeImage {
        width: 300px;
        aspect-ratio: 1;
        overflow: hidden;
        border-radius: 100%;
    }
    &__image {
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    &__set-image {
        margin-top: 1.5rem;
    }
    &__message {
        margin-top: 1.5rem;
    }
}
