.todo-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1.5rem;
    padding: 1.5rem;

    &__form {
        display: flex;
        gap: 0.7rem;
        &__submit {
            display: flex;
            align-items: center;
        }
    }
}
