/*----- Paleta de colores -----*/
/* prettier-ignore */
$colors: (
    primary: (
        100: hsl(197, 100%, 85%),
        200: hsl(197, 100%, 75%),
        300: hsl(197, 100%, 60%),
        400: hsl(197, 100%, 37%),
        500: hsl(197, 100%, 20%)
    ),
    secondary: (
        100: hsl(164, 100%, 85%),
        200: hsl(164, 100%, 75%),
        300: hsl(164, 100%, 60%),
        400: hsl(164, 100%, 33%),
        500: hsl(164, 100%, 20%)
    ),
    dark: (
        100: hsl(0, 0%, 85%),
        200: hsl(0, 0%, 70%),
        300: hsl(0, 0%, 60%),
        400: hsl(0, 0%, 31%),
        500: hsl(0, 0%, 10%)
    ),
    danger: (
        100: hsl(3, 90%, 85%),
        200: hsl(3, 90%, 70%),
        300: hsl(3, 90%, 60%),
        400: hsl(3, 90%, 37%),
        500: hsl(3, 90%, 20%)
    ),
);
