// @use '../../utils/variables' as *;
@use '../../utils/mixins' as mix;

.popup > .confirm-popup {
    padding: 1rem 1.5rem;
}

.confirm-popup {
    gap: 1rem;
    width: 100%;

    @include mix.mq(small) {
        min-height: 220px;
        width: 400px;
    }

    &__title {
        font-size: 1.5rem;
        padding-right: 2rem;
    }
    &__buttons {
        display: flex;
        justify-content: end;
        gap: 1rem;
        margin-top: auto;
        font-size: 1.1em;
        .btn-cancel {
            color: var(--clr-dark-400);
        }
        .btn-confirm {
            font-weight: bold;
        }
    }
}
