@use '../../utils/mixins' as mix;

.login {
    width: 100%;
    min-height: 450px;

    @include mix.mq(small) {
        width: 380px;
    }

    &__title {
        margin-bottom: 1.5rem;
    }
    &__form {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &__submit {
            margin-top: auto;
        }
    }
    &__message {
        margin-top: 1rem;
        margin-inline: auto;
    }
}
